<div class="row">
  <div class="col s12">
    <div class="container">
      <h2><%= t('devise.titles.new_pwd') %></h2>

      <%= simple_form_for(resource, as: resource_name, url: confirm_path) do |f| %>
        <%= devise_error_messages! %>
        <%= f.input :confirmation_token, as: :hidden, input_html: { value: @original_token } %>

        <div class="row">
          <div class="input-field col s12">
            <%= f.input :email, required: true, autofocus: true, class: 'validate' %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.input :password, input_html: { autofocus: true } %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.input :password_confirmation %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= render 'devise/shared/links' %>
          </div>
        </div>

        <div class="fixed-action-btn fab-position">
          <%= button_tag(type: :submit, class: 'btn-floating btn-large green') do %>
            <%= content_tag(:i, nil, class: 'mdi-navigation-check') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
