<div class="row">
  <div class="col s12">
    <div class="container">
      <h2><%= t('devise.titles.resend_unlock') %></h2>

      <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :unlock_token %>

        <div class="row">
          <div class="input-field col s12">
            <%= f.input :email, required: true, autofocus: true, class: 'validate' %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= render 'devise/shared/links' %>
          </div>
        </div>

        <div class="fixed-action-btn fab-position">
          <%= button_tag(type: :submit, class: 'btn-floating btn-large green') do %>
            <%= content_tag(:i, nil, class: 'mdi-navigation-check') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
