<div class="row">
  <div class="col s5">
    <div class="row center">
      <div class="col s12">
        <p class="flow-text">
          Quer ver a sua foto aqui? <br />
          poste-a com a hashtag:
        </p>
      </div>
    </div>
    <div class="row center">
      <div class="col s12">
        <h3 class="red-text"><%= @item.event.tag %></h3>
      </div>
    </div>
    <div class="row">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s3">
            <%= image_tag(@item.author.avatar_url(:big_screen), class: 'circle responsive-img' ) %>
          </div>
          <div class="col s9">
            <p class="blue-text" style="font-size: 18px"><%= @item.author.screen_name %></p>
            <p class="black-text" style="font-size: 20px"><%= truncate @item.text, length: 200 %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s7 hide-on-med-and-down center">
    <%= image_tag(@item.image_url(:big), class: 'z-depth-3') %>
  </div>
  <div class="col s8 hide-on-med-and-up">
    <%= image_tag(@item.image_url(:thumb), class: 'valign') %>
  </div>
</div>
