<div class="container">
  <div class="row" style="margin-top: 15%">
    <div class="row">
      <div class="s12 valign-wrapper">
        <div class="col s2">
          <%= image_tag(@item.author.avatar_url(:big_screen), class: 'circle responsive-img') %>
        </div>
        <div class="col s10">
          <blockquote class="blockquote-orange">
            <div class="row flow-text">
              <div class="col s12 lighten-3">
                <div class="col s12">
                  <p id="show-text-content" class="white-text">
                    <%= highlight(truncate(@item.text, length: 350), @item.event.tag,
                                  highlighter: "<span class=\"#{ color_by(@item.service) }\">\\1</span>") %>
                  </p>
                </div>
              </div>
            </div>
            <div class="row flow-text">
              <div class="col s12">
                <div class="col s6">
                  <span class="<%= color_by(@item.service) %>"><%= @item.author.screen_name %></span>
                </div>
                <div class="col s6">
                  <i class="<%= service_as_icon(@item.service) %>"></i>
                </div>
              </div>
            </div>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="row" style="padding: 5%;">
    </div>

    <div class="row center-align">
      <div class="col s12 m12 l6">
        <span class="flow-text" id="show-send-text">
          Você também quer aparecer aqui? <br />
          poste algo com a hashtag:
        </span>
      </div>
      <div class="col s12 m12 l6">
        <h1 id="hashtag"><%= @item.event.tag %></h1>
      </div>
    </div>
  </div>
</div>
