<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo"><i class="mdi-social-whatshot"></i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <% if current_user.nil? %>
          <%= link_to t('devise.buttons.sign_in'), new_user_session_url %>
        <% else %>
          <%= link_to t('views.dashboard.name'), new_user_session_url %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text text-lighten-2"><%= t('views.project.name') %></h1>
      <div class="row center">
        <h5 class="header col s12 light"><%= t('views.project.description') %></h5>
      </div>
      <div class="row center">
        <!-- login -->
        <a href="#" id="download-button" class="btn-large waves-effect waves-light orange lighten-1">
          <%= t('views.project.started') %>
        </a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax">
    <%= image_tag('background1.jpg', alt: 'Unsplashed background img 1') %>
  </div>
</div>

<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text darken-3"><i class="mdi-image-flash-on"></i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text darken-3"><i class="mdi-social-group"></i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text darken-3"><i class="mdi-action-language"></i></h2>
          <h5 class="center">Globalize your event!</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light black-text">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag('background3.jpg', alt: 'Unsplashed background img 2') %>
  </div>
</div>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send blue-text darken-3"></i></h3>
        <h4>Contact Us</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag('background2.png', alt: 'Unsplashed background img 3') %>
  </div>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of college students
          working on this project like it's our full time job.
          Any amount would help support and continue development on this project
          and is greatly appreciated.
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Stay Connected</h5>
        <ul>
          <!-- Facebook, Twitter, Github-->
          <li><a class="white-text" href="#!">Linkee</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made with <a class="red-text" href="http://materializecss.com"><3</a>
    </div>
  </div>
</footer>
