<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo"><i class="mdi-social-whatshot"></i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to current_user.nil? ? t('devise.buttons.sign_in') : t('views.dashboard.name'), new_user_session_url %>
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li>
        <%= link_to current_user.nil? ? t('devise.buttons.sign_in') : t('views.dashboard.name'), new_user_session_url %>
      </li>
    </ul>

    <a href="#" data-activates="nav-mobile" class="button-collapse">
      <i class="brand-logo mdi-navigation-menu"></i>
    </a>
  </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text text-lighten-2"><%= t('views.project.name') %></h1>
      <div class="row center">
        <h5 class="header col s12 light"><%= t('views.project.description') %></h5>
      </div>
      <div class="row center">
        <a href="#contact_form" class="btn-large waves-effect waves-light orange lighten-1">
          <%= t('views.project.started') %>
        </a>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag('background1.jpg', alt: 'Unsplashed background img 1') %>
  </div>
</div>

<div class="container">
  <div class="section">

    <!-- Icon Section -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text darken-3"><i class="fa-2x fa fa-gamepad"></i></h2>
          <h5 class="center">Simples e Poderoso</h5>

          <p class="light">
            Monitore seus eventos analisando as principais redes sociais, em uma plataforma que utiliza da simplicidade
            como ponto fundamental sem esquecer das funcionalidades poderosas que ele tem.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text darken-3"><i class="fa-2x fa fa-pie-chart"></i></h2>
          <h5 class="center">Analize os resultados</h5>

          <p class="light">
            Mesmo durante o evento você poderá analisar por meio de gráficos qual rede social mais movimentou o seu evento.
            Assim como qual é a visibilidade dele na sociedade. Ferramenta perfeita para organizadores/promotores de eventos!
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text darken-3"><i class="fa-2x fa fa-globe"></i></h2>
          <h5 class="center">Globalize seu evento</h5>

          <p class="light">
            Quanto mais as pessoas presentes no evento, se veem na tela, mais conteúdo social elas geram,
            fazendo com que outras pessoas se atraiam e compareçam também.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light black-text">Uma ferramenta indispensável para quem quer fazer a diferença!</h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag('background3.jpg', alt: 'Unsplashed background img 2') %>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-communication-message blue-text darken-3"></i></h3>
        <h4>Contate-nos!</h4>
      </div>

      <div class="col s9 offset-s2">
        <p class="light">
          Nós estamos trabalhando árduamente para conseguir entregar a melhor ferramenta para você!<br/>
          Por isso coloque seu email abaixo para que saibamos do seu interesse! E lhe avisaremos assim que tudo estiver pronto!
        </p>
      </div>

      <div class="col s9 offset-s2 light">
        <%= render 'admin/contacts/form' %>
        <a name="contact_form" class="hidden"></a>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Perfeito para uso em festas, eventos sociais, aniversários, shows...</h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag('background2.png', alt: 'Unsplashed background img 3') %>
  </div>
</div>

<div class="container">
  <div class="section no-pad-bot">
    <div class="row">
      <div class="col s12 center">
        <h4>Nossos números</h4>
        <p class="flow-text">Em busca do seu conteúdo, nós monitoramos estes serviços e já obtivemos estes resultados:</p>
      </div>
    </div>

    <div class="row">
      <div class="col s4 center twitter-scroll-item">
        <i class="large fa fa-facebook-official facebook-color"></i>
        <p class="flow-text">
          + de <%= number_to_human rand(Item.twitter.count ** 2) %> posts
        </p>
      </div>
      <div class="col s4 center twitter-scroll-item">
        <i class="large fa fa-twitter twitter-color"></i>
        <p class="flow-text">
          + de <%= number_to_human Item.twitter.count %> tweets
        </p>
      </div>
      <div class="col s4 center twitter-scroll-item">
        <i class="large fa fa-instagram insta-color"></i>
        <p class="flow-text">
          + de <%= number_to_human rand(Item.twitter.count ** 2) %> insta's
        </p>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l9 s12">
        <h5 class="white-text">Sobre a Equipe</h5>
        <p class="grey-text text-lighten-4">
          Nós somos um time repleto de ideias e cheio de vontade de realizá-las,
          <br/>
          que não está medindo esforços para tornar esse projeto algo realmente útil <br/>
          e agradável de se utilizar. <br/>
          O Código fonte dessa plataforma está sendo distribuído sob a licença MIT.
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Não perca de vista!</h5>
        <ul>
          <!-- Facebook, Twitter, GitHub -->
          <li><a class="white-text" href="https://github.com/brunoocasali/interactive-event">GitHub</a></li>
          <li><a class="white-text" href="https://fb.com/brunoocasali">Facebook</a></li>
          <li><a class="white-text" href="https://twitter.com/brunoocasali/">Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by: Bruno Casali using <a class="black-text" href="http://materializecss.com">MaterializeCSS</a> with <a class="red-text"><3</a>
    </div>
  </div>
</footer>
