<%= render 'header', title: t('views.monitorings.approveds'), event: @event %>

<ul class="collapsible" data-collapsible="accordion">
  <% @items.each do |item| %>
    <li>
      <div class="collapsible-header">
        <div class="row">
          <div class="col s7 m10 l10">
            <i class="mdi-<%= item.image_link ? 'image-photo-camera' : 'editor-format-align-justify' %>"></i>
            <%= item.author.screen_name %>
          </div>
          <%= link_to t('views.monitorings.buttons.remove'), destroy_item_monitoring_path(@event.hash_tag, item), class: 'btn lighten-1 red' %>
        </div>
      </div>
      <div class="collapsible-body">
        <%= render 'item_body', item: item %>
      </div>
    </li>
  <% end %>
</ul>

<div class="row">
  <div class="col offset-s3">
    <%= paginate @items %>
  </div>
</div>

<div class="fixed-action-btn fab-position ">
  <%= link_to candidates_monitoring_url, title: t('views.monitorings.candidates'), class: 'btn-floating btn-large green' do %>
    <i class="large mdi-action-search"></i>
  <% end %>

  <%= render 'fab' %>
</div>
