<div class="row">
  <div class="col s4">
    <h3 class="red-text"><%= @event.tag %></h3>
  </div>
  <div class="col s4">
    <h3>Approved</h3>
  </div>
  <div class="col s4">
    <p>
      <%= link_to raw('<i class="mdi-hardware-keyboard-arrow-left left"></i>candidates'),
                  candidates_monitoring_url, class: 'waves-effect waves-light btn-large' %>
    </p>
  </div>
</div>

<table class="striped">
  <thead>
  <tr>
    <th>Author name</th>
    <th>Text</th>
    <th>Image</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.author.screen_name %></td>
      <td><%= item.text %></td>
      <td><%= image_tag(item.image_link, size: '50x40') %></td>
      <td><%= button_to 'Remove!', destroy_item_monitoring_path(@event.hash_tag, item), class: 'red btn' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col offset-s3">
    <%= paginate @items %>
  </div>
</div>
