<div class="row">
  <div class="col s4">
    <h3 class="red-text"><%= @event.tag %></h3>
  </div>
  <div class="col s4">
    <h3>Candidates</h3>
  </div>
  <div class="col s4">
    <p>
      <%= link_to raw('<i class="mdi-hardware-keyboard-arrow-left left"></i>approved'),
                  approved_monitoring_url, class: 'waves-effect waves-light btn-large' %>
    </p>
  </div>
</div>

<table class="striped">
  <thead>
  <tr>
    <th>Text</th>
    <th>Image link</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.author.screen_name %></td>
      <td><%= item.text %></td>
      <td><%= item.image_link %></td>
      <td><%= button_to 'Approve!',
                        approve_item_monitoring_path(@event.hash_tag, item), class: 'blue btn' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col offset-s3">
    <%= paginate @items %>
  </div>
</div>

