<h4><%= t('views.monitorings.title') %></h4>

<br />

<ul class="collection white z-depth-1">
  <% if @events.each do |event| %>
    <li class="collection-item avatar waves-effect full-width valign-wrapper">
      <%= link_to candidates_monitoring_url(event.hash_tag), class: 'black-text' do -%>
        <i class="<%= show_as_icon(event) %>"></i>
        <span class="title"><%= event.tag %></span>
        <p class="black-text valign-wrapper">
          <i class="mdi-action-today"></i>
          <span class="icon-toast"><%= l event.start_at.to_date, format: :short %> à <%= l event.end_at.to_date, format: :short %></span>
        </p>
        <i class="secondary-content mdi-action-visibility small black-text"></i>
      <% end %>
    </li>
  <% end.empty? %>
    <h5 class="red-text lighten-2 center">
      <%= t('views.events.no_items') %>
    </h5>
  <% end %>
</ul>
