<%= simple_form_for(@event, html: { multipart: true }) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <%= f.association :user, as: :hidden, input_html: { value: current_user_id } %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.input :hash_tag %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.input :title %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.input :start_at, as: :date_time_picker %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.input :end_at, as: :date_time_picker %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= f.input :kind, collection: EventKind.to_a, include_blank: 'Selecione o tipo de evento'  %>
      </div>
      <div class="input-field col s12">
        <div class="file-field input-field">
          <input class="file-path validate" type="text"/>
          <%= f.input :cover, as: :file, input_html: { class: 'btn validate' } %>
          <%= f.input :cover_cache, as: :hidden %>
        </div>
      </div>
      <% if @event.cover? %>
        <div class="col 12">
          <div class="row">
            <div class="input-field col s12">
              <%= f.input :remove_cover, as: :boolean, label: t('carrierwave.buttons.remove', attr: ta(Event, :cover)) %>
            </div>
          </div>

          <%= image_tag(@event.cover_url(:thumb)) %>
        </div>
      <% end %>
      <div class="input-field col s12">
        <p>
          <label for="services">
            <%= ta Event, :services %>
          </label>
        </p>
        <%= f.input :services, as: :check_boxes, collection: ServiceKind.to_a,
                    label: false, checked: @event.services, item_wrapper_class: 'col s4' %>
      </div>
    </div>
  </div>

  <%= fab_to_save back_url: events_path %>
<% end %>
