<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hash_tag %>
    <%= f.input :title %>
    <%= f.input :image %>
    <%= f.input :start_at, date_form_helper %>
    <%= f.input :end_at, date_form_helper %>
    <%= f.input :kind, collection: EventKind.to_a %>
    <%= f.association :user, as: :hidden, input_html: { value: current_user_id } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
