<li class="collection-item avatar waves-effect full-width">
  <%= link_to event, class: 'black-text' do -%>
    <i class="<%= show_as_icon(event) %>"></i>
    <span class="title"><%= event.title %></span>

    <p class="grey-text valign-wrapper">
      <i class="mdi-action-today"></i>
      <span class="icon-toast"><%= l event.start_at.to_date, format: :short %></span>
    </p>

    <div class="secondary-content valign-wrapper">
      <h5 class="hide-on-small-only"><%= event.tag  %></h5>
      <a href="#" data-activates="dropdown" class="flow-text dropdown-button">
        <i class="black-text mdi-navigation-more-vert valign"></i>
      </a>
    </div>

    <ul id="dropdown" class="dropdown-content">
      <li><%= link_to_edit edit_event_path(event) %></li>
      <li><%= link_to_destroy event %></li>
      <li><%= link_to t('views.monitorings.button'), candidates_monitoring_url(event.hash_tag) %></li>
    </ul>
  <% end -%>
</li>
