<p id="notice"><%= notice %></p>

<p>
  <strong>Hashtag:</strong>
  <%= @event.hash_tag %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= @event.image %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @event.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @event.end_at %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @event.kind %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user.name %>
</p>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <%= link_to raw('<i class="large mdi-editor-mode-edit"></i>'),
              edit_event_path(@event), class: 'btn-large btn-floating green' %>
  <ul>
    <li>
      <%= link_to raw('<i class="large mdi-navigation-arrow-back"></i>'),
                  events_path, class: 'btn-floating blue' %>
    </li>
  </ul>
</div>
