<h3 class="center-align"><%= @event.tag %></h3>

<div class="divider"></div>

<div class="flow-text">
  <p>
    <strong><%= ta Event, :title %>:</strong>
    <%= @event.title %>
  </p>

  <p>
    <strong><%= ta Event, :start_at %>:</strong>
    <%= l @event.start_at.to_date, format: :long %>
  </p>

  <p>
    <strong><%= ta Event, :end_at %>:</strong>
    <%= l @event.end_at.to_date, format: :long %>
  </p>

  <p>
    <strong><%= ta Event, :kind %>:</strong>
    <%= @event.kind_humanize %>
  </p>

  <p>
    <strong><%= ta Event, :user %>:</strong>
    <%= @event.user.name %>
  </p>
</div>

<%= fab_to_edit url: edit_event_path(@event), back_url: events_path %>
