<h4><%= tmp(Role) %></h4>

<br />

<ul class="collection white z-depth-1">
  <% @roles.each do |role| %>
    <li class="collection-item avatar waves-effect full-width">
      <%= link_to edit_admin_role_path(role), class: 'black-text' do -%>
        <i class="<%= show_role_icon(role) %>"></i>
        <span class="title"><%= role.name %></span>

        <p class="black-text">
          <i class="mdi-editor-format-align-justify"></i>
          <%= role.description %>
        </p>

        <div class="secondary-content valign-wrapper">
          <h5 class="hide-on-small-only"><%= role.key %></h5>
          <a href="#" data-activates="dropdown" class="flow-text dropdown-button">
            <i class="black-text mdi-navigation-more-vert valign"></i>
          </a>
        </div>

        <ul id="dropdown" class="dropdown-content">
          <li><%= link_to_destroy admin_role_path(role) %></li>
        </ul>
      <% end -%>
    </li>
  <% end %>
</ul>

<br />

<%= fab_to_new(new_admin_role_url) %>
