<h1>Users new</h1>
<p>Find me in app/views/user/show.html.erb</p>

<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :name, required: true %>
    <%= f.input :role, collection: Role.all.collect { |r| [r.name, r.id] },
         input_html: { class: 'browser-default'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Add user!' %>
  </div>
<% end %>
