<h4>Listing Roles</h4>
<br/>
<ul class="collection">
  <% @roles.each do |role| %>
    <li class="collection-item avatar waves-effect full-width">
      <i class="mdi-social-mood circle"></i>
      <span class="title"><%= role.name %></span>
      <p class="grey-text"><%= role.description %></p>
        <span>
        <h5 class="secondary-content red-text">
          <a href="#" data-activates='dropdown' class="dropdown-button">
            <i class="black-text mdi-navigation-more-vert"></i>
          </a>
        </h5>
        </span>

      <!-- Drop down Structure -->
      <ul id='dropdown' class='dropdown-content'>
        <li><%= link_to 'Edit', edit_role_path(role) %></li>
        <li><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
  <% end %>
  </li>
</ul>

<br />

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <%= link_to raw('<i class="mdi-content-add"></i>'), new_admin_user_path,
              class: 'btn-floating btn-large red' %>
</div>
