<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :service %>
    <%= f.association :event %>
    <%= f.input :status %>
    <%= f.input :text %>
    <%= f.input :image_link %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
