<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @item.service %>
</p>

<p>
  <strong>Event:</strong>
  <%= @item.event %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<p>
  <strong>Text:</strong>
  <%= @item.text %>
</p>

<p>
  <strong>Image link:</strong>
  <%= @item.image_link %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
