<%= simple_form_for(@user, url: admin_users_path) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="row">
      <div class="input-field col s12">
        <%= f.input :name, class: 'validate' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.input :email, as: :email, class: 'validate' %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.input :phone %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.association :role, collection: Role.all %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= f.input :password %>
      </div>
    </div>
  </div>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <%= button_tag(type: :submit, class: 'btn-floating btn-large red') do %>
      <%= content_tag(:i, nil, class: 'mdi-navigation-check') %>
    <% end %>
    <ul>
      <li>
        <%= link_to raw('<i class="large mdi-navigation-arrow-back"></i>'),
                    admin_users_url, class: 'btn-floating green' %>
      </li>
    </ul>
  </div>

<% end %>
