<%= simple_form_for(@user, url: admin_users_path) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="row">
      <div class="input-field col s12">
        <%= f.input :name, input_html: { class: 'validate' } %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.input :email, as: :email, input_html: { class: 'validate' } %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <%= f.input :phone, as: :cellphone %>
      </div>
    </div>
    <div class="row">
      <div class=" col s12">
        <%= f.association :role, collection: Role.all.reject { |r| r.key.eql? 'root' } %>
      </div>
    </div>
  </div>

  <%= fab_to_save back_url: admin_users_url %>
<% end %>
