<h4><%= tmp(User) %></h4>

<br />

<ul class="collection">
  <% @users.each do |user| -%>
    <li class="collection-item avatar waves-effect full-width">
      <%= link_to admin_user_path(user), class: 'black-text' do -%>
        <i class="light-blue mdi-social-mood circle"></i>
        <span class="title"><%= user.name %></span>

        <p class="black-text">
          <i class="mdi-content-mail"></i>
          <%= user.email %>
        </p>

        <h5 class="secondary-content red-text"> <%= user.role.name %>
          <a href="#" data-activates='dropdown' class="dropdown-button">
            <i class="black-text mdi-navigation-more-vert"></i>
          </a>
        </h5>

        <ul id='dropdown' class='dropdown-content'>
          <li><%= link_to_edit edit_admin_user_path(user) %></li>
          <li><%= link_to_destroy admin_user_path(user) %></li>
        </ul>
      <% end -%>
    </li>
  <% end -%>
</ul>

<br />

<%= fab_to_new new_admin_user_path %>
