<h3 class="center-align"><%= @user.name %></h3>

<div class="divider"></div>

<div class="flow-text">
  <p>
    <strong><%= ta User, :email %>:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong><%= ta User, :phone %>:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong><%= ta User, :role %>:</strong>
    <%= @user.role.name %>
  </p>

  <p>
    <strong><%= 'Joined on:' %></strong>
    <%= @joined_on %>
  </p>

  <p>
    <strong><%= 'Last logged in on:' %></strong>
    <%= @last_login %>
  </p>

  <p>
    <strong><%= 'No. times logged in:' %></strong>
    <%= @user.sign_in_count %>
  </p>
</div>

<%= fab_to_edit url: edit_admin_user_path(@user), back_url: admin_users_path %>
