<!DOCTYPE html>
<html>
<head>
  <title>Admin - Interactive Event</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= render 'layouts/shared/header' %>
</div>
<div class="container" style="min-height: 700px;">
  <%= yield %>
</div>
<div>
  <%= render 'layouts/shared/sidebar' %>
</div>
<%= javascript_include_tag 'application' %>
<%= notices 6000 %>
</body>
</html>
