<!DOCTYPE html>
<html class="bg-displays" style="background: url(<%= @event.cover_url %>) no-repeat center center fixed;">
<head>
  <title><%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <!--<meta http-equiv="refresh" content="<%= @event.items.approved.count > 50 ? 3 : 5 %>" />-->

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body class="min-body" style="margin-top: 5%">
  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <script>
    $(document).ready(function(){
      var content = '<%= @event.items.approved.count > 50 ? 3 : 5 %>';
      var rate = content == '3' ? 0.42 : 0.2;

      NProgress.configure({ easing: 'ease', speed: 900, trickleRate: rate, trickleSpeed: 900 });

      NProgress.start();
    });
  </script>
</body>
</html>
